.selectedPage {
    color: gold;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    background-color: #333333;
    border-radius: 30px;
    display: inline-block;
}
.page {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}
.pages {
    padding: 15px;
}